* {
    border: border-box;
}

body {
    font-family: 'Forum', cursive;
    /* background-color: #ea9a96; */
    /* font-family: 'Quicksand', sans-serif; */
}

p {
    font-size: 1.2rem;
}

.shlogo {
 width: 60px;
 height: 60px;
}

.belowNavbar {
    padding-top: 85px;
}

#phoenixj {
    background-image: url('images/phoenix1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 85px;
    padding: 250px;
}

.jumbotronTitle {
    color: rgb(119, 119, 119);
    margin-left: -150px;
    font-size: 4rem;
}

.splideContainer {
    /* border: 1px solid red; */
    margin: 30px 0px;
    padding-top: 0px;
}

.splideImage {
    width: 500px;
    height: auto;
    padding: 1vh 5vw 0vh 6vw;
    margin-bottom: 10px;
}
